:root {
  --bg-body: hsl(240, 20%, 96%);
  --bg-panel: hsl(240, 10%, 99%);
  --bg-highlight: hsl(240, 10%, 100%);
  --border-panel: hsl(240, 10%, 91%);
  --border-highlight: hsl(240, 10%, 97%);
  --gradient-highlight: linear-gradient(to bottom, var(--bg-highlight), 1px, var(--bg-panel) 4px);
  --text: hsl(240, 10%, 4%);
  --text-muted: hsla(240, 10%, 4%, 0.5);
  --primary: hsl(221, 76.8%, 64.5%);
  --shadow: 0px 0.2px 2px hsl(0, 0%, 0%, 0.06);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

input,
button,
select,
textarea {
  font: inherit;
}

input, 
select,
textarea {
  border: solid 1px hsl(0, 0%, 75%);
  border-radius: 3px;
}

select {
  /* Override the dropdown arrow appearance (especially in firefox) */
  -webkit-appearance: none;   /* Chrome */
  -moz-appearance: none;      /* Firefox */
  appearance: none;
  padding-right: 20px;
  padding-left: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 6px center;
}

select:focus {
  outline-width: 1px;
  outline-offset: 0;
  outline-style: auto;
  outline-color: black;
}

button,
input[type=submit] {
  background-color: hsl(240, 5%, 95%);
  color: var(--text);
  border: solid 1px hsl(0, 0%, 87%);
  border-radius: 3px;
  cursor: pointer;
}

button:disabled,
input[type=submit]:disabled {
  opacity: 50%;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.6;
  padding: 15px;
  color: var(--text);
  background: var(--bg-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel {
  background: var(--gradient-highlight);
  border: solid 1px var(--border-panel);
  border-top: solid 1px var(--border-highlight);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  box-shadow: var(--shadow);
}
